.site-topo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    background: #FFBF00;
    padding: 10px;
}

.site-topo .site-nome {
    font-weight: bold;
    font-size: 30px;
    color: #000;
}

.site-topo .site-nome a{
    font-weight: bold;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.site-topo .site-nome a:hover {
    text-decoration: none;
}

.site-topo span {
    color: #FFF;
}

.site-topo .site-carrinho {
    align-items: center;
    text-align: right;
    font-size: 20px;
    padding-top: 5px;
}
.site-topo .site-carrinho a{
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.site-topo .site-carrinho a:hover{
    font-weight: bold;
    color: #000;
}